In [1]:
import pandas as pd

### Check/import data

1. Check final trip data

In [2]:
final_trips=pd.DataFrame(pd.read_csv("WIP_data_merge_files_final_trips.csv"))
final_trips.head()

,Unnamed: 0,trip_id,ride_type_id,start_timestamp_id,end_timestamp_id,duration_seconds,miles,fare,tip,tolls,extra_charges,trip_total,payment_type,pickup_centroid_location,dropoff_centroid_location
0,2,7113a69d5171ece9c16cf74fde72e0059b1299f7,1,2019-05-03 13:00:00,2019-05-03 13:00:00,266.0,0.78,5.5,0.0,0.0,0.0,5.5,Cash,POINT (-87.6262105324 41.8991556134),POINT (-87.6262149064 41.8925077809)
1,3,1dbf5c8053c07ba46a7b57bd0413f7527bd603f8,1,2019-01-23 11:00:00,2019-01-23 11:00:00,584.0,1.19,7.5,1.0,0.0,1.0,10.0,Credit Card,POINT (-87.6327464887 41.8809944707),POINT (-87.6209929134 41.8849871918)
2,4,32b6e83006192bff8c8acd46a05889d9efe7ceaa,1,2019-02-10 21:00:00,2019-02-10 22:00:00,2510.0,18.10,45.5,0.0,0.0,4.0,49.5,Cash,POINT (-87.913624596 41.9802643146),POINT (-87.6251921424 41.8788655841)
3,5,54d4c379f1f16261cd5ab4dc3e36839dfe10a42a,1,2019-07-23 18:00:00,2019-07-23 19:00:00,780.0,0.00,8.5,0.0,0.0,0.0,8.5,Cash,POINT (-87.6266589003 41.9075200747),POINT (-87.6318639497 41.8920421365)
4,6,c0efecb973aef28a5aa89e85001d235005c7509d,1,2019-02-14 18:00:00,2019-02-14 18:00:00,585.0,1.87,8.5,0.0,0.0,0.0,8.5,Cash,POINT (-87.6221729369 41.8706073724),POINT (-87.6378442095 41.8932163595)

2. Check date data

In [3]:
dim_date=pd.DataFrame(pd.read_csv("WIP_data_merge_files_dim_date.csv"))
dim_date.head()

          timestamp_id      time        date  month  year  weekday
0  2019-01-01 00:00:00  00:00:00  2019-01-01      1  2019  Tuesday
1  2019-01-01 01:00:00  01:00:00  2019-01-01      1  2019  Tuesday
2  2019-01-01 02:00:00  02:00:00  2019-01-01      1  2019  Tuesday
3  2019-01-01 03:00:00  03:00:00  2019-01-01      1  2019  Tuesday
4  2019-01-01 04:00:00  04:00:00  2019-01-01      1  2019  Tuesday

3. Check trip lookup data

In [4]:
trip_lookup=pd.DataFrame(pd.read_csv("WIP_data_merge_files_trip_region_lookup.csv"))
trip_lookup.head()

   trip_region_id  base_region_id                        trip_centroids
0               0              12  POINT (-87.6262105324 41.8991556134)
1               1              13  POINT (-87.6327464887 41.8809944707)
2               2               2   POINT (-87.913624596 41.9802643146)
3               3              12  POINT (-87.6266589003 41.9075200747)
4               4              13  POINT (-87.6221729369 41.8706073724)

4. Check traffic data

In [5]:
traffic=pd.DataFrame(pd.read_csv("WIP_data_merge_files_traffic_data.csv"))
traffic.head()

,Unnamed: 0,region_id,timestamp_id,speed,speed_category,bus_count,gps_pings
0,0,1,2019-01-01 00:00:00,28.552500,regular,27,578
1,1,1,2019-01-01 01:00:00,0.000000,slow,18,273
2,2,1,2019-01-01 02:00:00,9.956000,slow,21,363
3,3,1,2019-01-01 03:00:00,0.000000,slow,10,254
4,4,1,2019-01-01 04:00:00,8.351667,slow,18,327

5. Check clean region data

In [6]:
clean_region=pd.DataFrame(pd.read_csv("WIP_data_merge_files_Copy of clean_regions.csv"))
clean_region.head()

   region_id                     region  lat_centroid  long_centroid
0          7       Hermosa-Logan Square    -87.711023      41.920555
1          8     Lincoln Park-Lake View    -87.646851      41.935615
2         10  Humboldt-Garfield Prk E/W    -87.719537      41.887699
3         12                 Near North    -87.635144      41.900130
4         13               Chicago Loop    -87.635144      41.877494

### Now let us join the trip data with the time data

In [7]:
#Merge first using start_timestamp_id
merged_result=pd.DataFrame()
merged_result=pd.merge(final_trips,dim_date, left_on="start_timestamp_id",right_on="timestamp_id", how="left").drop(columns="timestamp_id")

merged_result.rename(columns={'time': 'start_time', 'date': 'start_date', "month":"start_month", "year":"start_year","weekday":"start_weekday"}, inplace=True)

In [8]:
#Now merge again using end_timestamp_id
merged_result=pd.merge(merged_result,dim_date, left_on="end_timestamp_id",right_on="timestamp_id", how="left").drop(columns="timestamp_id")
merged_result.rename(columns={'time': 'end_time', 'date': 'end_date', "month":"end_month", "year":"end_year","weekday":"end_weekday"}, inplace=True)

In [9]:
#Making sure the file is merged properly
merged_result.head()

,Unnamed: 0,trip_id,ride_type_id,start_timestamp_id,end_timestamp_id,duration_seconds,miles,fare,tip,tolls,...,start_time,start_date,start_month,start_year,start_weekday,end_time,end_date,end_month,end_year,end_weekday
0,2,7113a69d5171ece9c16cf74fde72e0059b1299f7,1,2019-05-03 13:00:00,2019-05-03 13:00:00,266.0,0.78,5.5,0.0,0.0,...,13:00:00,2019-05-03,5,2019,Friday,13:00:00,2019-05-03,5,2019,Friday
1,3,1dbf5c8053c07ba46a7b57bd0413f7527bd603f8,1,2019-01-23 11:00:00,2019-01-23 11:00:00,584.0,1.19,7.5,1.0,0.0,...,11:00:00,2019-01-23,1,2019,Wednesday,11:00:00,2019-01-23,1,2019,Wednesday
2,4,32b6e83006192bff8c8acd46a05889d9efe7ceaa,1,2019-02-10 21:00:00,2019-02-10 22:00:00,2510.0,18.10,45.5,0.0,0.0,...,21:00:00,2019-02-10,2,2019,Sunday,22:00:00,2019-02-10,2,2019,Sunday
3,5,54d4c379f1f16261cd5ab4dc3e36839dfe10a42a,1,2019-07-23 18:00:00,2019-07-23 19:00:00,780.0,0.00,8.5,0.0,0.0,...,18:00:00,2019-07-23,7,2019,Tuesday,19:00:00,2019-07-23,7,2019,Tuesday
4,6,c0efecb973aef28a5aa89e85001d235005c7509d,1,2019-02-14 18:00:00,2019-02-14 18:00:00,585.0,1.87,8.5,0.0,0.0,...,18:00:00,2019-02-14,2,2019,Thursday,18:00:00,2019-02-14,2,2019,Thursday

### Now let us join the result with trip_lookup

In [10]:
#Merge using pickup_centroid_location
merged_result2=pd.merge(merged_result,trip_lookup, left_on="pickup_centroid_location",right_on="trip_centroids", how="left")

In [11]:
merged_result2.rename(columns={"trip_region_id":"pickup_trip_region_id", "base_region_id":"pickup_base_region_id"}, inplace=True)
merged_result2=merged_result2.iloc[:,0:27] #drop last column which is trip_centroids
merged_result2.head()

,Unnamed: 0,trip_id,ride_type_id,start_timestamp_id,end_timestamp_id,duration_seconds,miles,fare,tip,tolls,...,start_month,start_year,start_weekday,end_time,end_date,end_month,end_year,end_weekday,pickup_trip_region_id,pickup_base_region_id
0,2,7113a69d5171ece9c16cf74fde72e0059b1299f7,1,2019-05-03 13:00:00,2019-05-03 13:00:00,266.0,0.78,5.5,0.0,0.0,...,5,2019,Friday,13:00:00,2019-05-03,5,2019,Friday,0,12
1,3,1dbf5c8053c07ba46a7b57bd0413f7527bd603f8,1,2019-01-23 11:00:00,2019-01-23 11:00:00,584.0,1.19,7.5,1.0,0.0,...,1,2019,Wednesday,11:00:00,2019-01-23,1,2019,Wednesday,1,13
2,4,32b6e83006192bff8c8acd46a05889d9efe7ceaa,1,2019-02-10 21:00:00,2019-02-10 22:00:00,2510.0,18.10,45.5,0.0,0.0,...,2,2019,Sunday,22:00:00,2019-02-10,2,2019,Sunday,2,2
3,5,54d4c379f1f16261cd5ab4dc3e36839dfe10a42a,1,2019-07-23 18:00:00,2019-07-23 19:00:00,780.0,0.00,8.5,0.0,0.0,...,7,2019,Tuesday,19:00:00,2019-07-23,7,2019,Tuesday,3,12
4,6,c0efecb973aef28a5aa89e85001d235005c7509d,1,2019-02-14 18:00:00,2019-02-14 18:00:00,585.0,1.87,8.5,0.0,0.0,...,2,2019,Thursday,18:00:00,2019-02-14,2,2019,Thursday,4,13

In [57]:
#Merge using dropoff_centroid_location

In [12]:
merged_result2=pd.merge(merged_result2,trip_lookup, left_on="dropoff_centroid_location",right_on="trip_centroids", how="left")

merged_result2.rename(columns={"trip_region_id":"dropoff_trip_region_id", "base_region_id":"dropoff_base_region_id"}, inplace=True)

In [13]:
merged_result2=merged_result2.iloc[:,0:29] #drop centroids_location
merged_result2.head()

,Unnamed: 0,trip_id,ride_type_id,start_timestamp_id,end_timestamp_id,duration_seconds,miles,fare,tip,tolls,...,start_weekday,end_time,end_date,end_month,end_year,end_weekday,pickup_trip_region_id,pickup_base_region_id,dropoff_trip_region_id,dropoff_base_region_id
0,2,7113a69d5171ece9c16cf74fde72e0059b1299f7,1,2019-05-03 13:00:00,2019-05-03 13:00:00,266.0,0.78,5.5,0.0,0.0,...,Friday,13:00:00,2019-05-03,5,2019,Friday,0,12,11,12
1,3,1dbf5c8053c07ba46a7b57bd0413f7527bd603f8,1,2019-01-23 11:00:00,2019-01-23 11:00:00,584.0,1.19,7.5,1.0,0.0,...,Wednesday,11:00:00,2019-01-23,1,2019,Wednesday,1,13,5,29
2,4,32b6e83006192bff8c8acd46a05889d9efe7ceaa,1,2019-02-10 21:00:00,2019-02-10 22:00:00,2510.0,18.10,45.5,0.0,0.0,...,Sunday,22:00:00,2019-02-10,2,2019,Sunday,2,2,27,13
3,5,54d4c379f1f16261cd5ab4dc3e36839dfe10a42a,1,2019-07-23 18:00:00,2019-07-23 19:00:00,780.0,0.00,8.5,0.0,0.0,...,Tuesday,19:00:00,2019-07-23,7,2019,Tuesday,3,12,30,12
4,6,c0efecb973aef28a5aa89e85001d235005c7509d,1,2019-02-14 18:00:00,2019-02-14 18:00:00,585.0,1.87,8.5,0.0,0.0,...,Thursday,18:00:00,2019-02-14,2,2019,Thursday,4,13,16,12

### Now merge with traffic

In [41]:
#Merge using start_timestamp_id and pickup_base_region_id
merged_result3=merged_result2.merge(traffic, left_on=['start_timestamp_id', 'pickup_base_region_id'],right_on=['timestamp_id', 'region_id'], how="left")

merged_result3.rename(columns={"speed":"speed_pickup_start", "speed_category":"speed_category_pickup_start","bus_count":"bus_count_pickup_start", "gps_pings":"gps_pings_pickup_start"}, inplace=True)

import numpy as np
merged_result3=merged_result3.iloc[:,np.r_[0:29,32:36]] #delete unwanted columns

In [42]:
merged_result3.head()

,Unnamed: 0_x,trip_id,ride_type_id,start_timestamp_id,end_timestamp_id,duration_seconds,miles,fare,tip,tolls,...,end_year,end_weekday,pickup_trip_region_id,pickup_base_region_id,dropoff_trip_region_id,dropoff_base_region_id,speed_pickup_start,speed_category_pickup_start,bus_count_pickup_start,gps_pings_pickup_start
0,2,7113a69d5171ece9c16cf74fde72e0059b1299f7,1,2019-05-03 13:00:00,2019-05-03 13:00:00,266.0,0.78,5.5,0.0,0.0,...,2019,Friday,0,12,11,12,19.090000,medium,293.0,4960.0
1,3,1dbf5c8053c07ba46a7b57bd0413f7527bd603f8,1,2019-01-23 11:00:00,2019-01-23 11:00:00,584.0,1.19,7.5,1.0,0.0,...,2019,Wednesday,1,13,5,29,17.531667,medium,479.0,8777.0
2,4,32b6e83006192bff8c8acd46a05889d9efe7ceaa,1,2019-02-10 21:00:00,2019-02-10 22:00:00,2510.0,18.10,45.5,0.0,0.0,...,2019,Sunday,2,2,27,13,27.841667,regular,136.0,2532.0
3,5,54d4c379f1f16261cd5ab4dc3e36839dfe10a42a,1,2019-07-23 18:00:00,2019-07-23 19:00:00,780.0,0.00,8.5,0.0,0.0,...,2019,Tuesday,3,12,30,12,16.501667,medium,533.0,3944.0
4,6,c0efecb973aef28a5aa89e85001d235005c7509d,1,2019-02-14 18:00:00,2019-02-14 18:00:00,585.0,1.87,8.5,0.0,0.0,...,2019,Thursday,4,13,16,12,12.611667,medium,985.0,17609.0

In [43]:
#Merge using start_timestamp_id and dropoff_base_region_id
merged_result4=merged_result3.merge(traffic, left_on=['start_timestamp_id', 'dropoff_base_region_id'],right_on=['timestamp_id', 'region_id'], how="left")

merged_result4.rename(columns={"speed":"speed_dropoff_start", "speed_category":"speed_category_dropoff_start","bus_count":"bus_count_dropoff_start", "gps_pings":"gps_pings_dropoff_start"}, inplace=True)

merged_result4=merged_result4.iloc[:,np.r_[0:33,36:40]]  #delete unwanted columns 
merged_result4.head()

,Unnamed: 0_x,trip_id,ride_type_id,start_timestamp_id,end_timestamp_id,duration_seconds,miles,fare,tip,tolls,...,dropoff_trip_region_id,dropoff_base_region_id,speed_pickup_start,speed_category_pickup_start,bus_count_pickup_start,gps_pings_pickup_start,speed_dropoff_start,speed_category_dropoff_start,bus_count_dropoff_start,gps_pings_dropoff_start
0,2,7113a69d5171ece9c16cf74fde72e0059b1299f7,1,2019-05-03 13:00:00,2019-05-03 13:00:00,266.0,0.78,5.5,0.0,0.0,...,11,12,19.090000,medium,293.0,4960.0,19.090000,medium,293.0,4960.0
1,3,1dbf5c8053c07ba46a7b57bd0413f7527bd603f8,1,2019-01-23 11:00:00,2019-01-23 11:00:00,584.0,1.19,7.5,1.0,0.0,...,5,29,17.531667,medium,479.0,8777.0,23.035000,regular,180.0,1947.0
2,4,32b6e83006192bff8c8acd46a05889d9efe7ceaa,1,2019-02-10 21:00:00,2019-02-10 22:00:00,2510.0,18.10,45.5,0.0,0.0,...,27,13,27.841667,regular,136.0,2532.0,21.136667,regular,236.0,4498.0
3,5,54d4c379f1f16261cd5ab4dc3e36839dfe10a42a,1,2019-07-23 18:00:00,2019-07-23 19:00:00,780.0,0.00,8.5,0.0,0.0,...,30,12,16.501667,medium,533.0,3944.0,16.501667,medium,533.0,3944.0
4,6,c0efecb973aef28a5aa89e85001d235005c7509d,1,2019-02-14 18:00:00,2019-02-14 18:00:00,585.0,1.87,8.5,0.0,0.0,...,16,12,12.611667,medium,985.0,17609.0,14.886667,medium,598.0,8986.0

In [56]:
#Merge using end_timestamp_id and pickup_base_region_id  
merged_result5=merged_result4.merge(traffic, left_on=['end_timestamp_id', 'pickup_base_region_id'],right_on=['timestamp_id', 'region_id'], how="left")

merged_result5.rename(columns={"speed":"speed_pickup_end", "speed_category":"speed_category_pickup_end","bus_count":"bus_count_pickup_end", "gps_pings":"gps_pings_pickup_end"}, inplace=True)

merged_result5=merged_result5.iloc[:,np.r_[0:37,40:44]] #delete unwanted columns

In [57]:
merged_result5.head()

,Unnamed: 0_x,trip_id,ride_type_id,start_timestamp_id,end_timestamp_id,duration_seconds,miles,fare,tip,tolls,...,bus_count_pickup_start,gps_pings_pickup_start,speed_dropoff_start,speed_category_dropoff_start,bus_count_dropoff_start,gps_pings_dropoff_start,speed_pickup_end,speed_category_pickup_end,bus_count_pickup_end,gps_pings_pickup_end
0,2,7113a69d5171ece9c16cf74fde72e0059b1299f7,1,2019-05-03 13:00:00,2019-05-03 13:00:00,266.0,0.78,5.5,0.0,0.0,...,293.0,4960.0,19.090000,medium,293.0,4960.0,19.090000,medium,293.0,4960.0
1,3,1dbf5c8053c07ba46a7b57bd0413f7527bd603f8,1,2019-01-23 11:00:00,2019-01-23 11:00:00,584.0,1.19,7.5,1.0,0.0,...,479.0,8777.0,23.035000,regular,180.0,1947.0,17.531667,medium,479.0,8777.0
2,4,32b6e83006192bff8c8acd46a05889d9efe7ceaa,1,2019-02-10 21:00:00,2019-02-10 22:00:00,2510.0,18.10,45.5,0.0,0.0,...,136.0,2532.0,21.136667,regular,236.0,4498.0,28.638333,regular,80.0,1692.0
3,5,54d4c379f1f16261cd5ab4dc3e36839dfe10a42a,1,2019-07-23 18:00:00,2019-07-23 19:00:00,780.0,0.00,8.5,0.0,0.0,...,533.0,3944.0,16.501667,medium,533.0,3944.0,18.780000,medium,310.0,3006.0
4,6,c0efecb973aef28a5aa89e85001d235005c7509d,1,2019-02-14 18:00:00,2019-02-14 18:00:00,585.0,1.87,8.5,0.0,0.0,...,985.0,17609.0,14.886667,medium,598.0,8986.0,12.611667,medium,985.0,17609.0

In [64]:
#Merge using end_timestamp_id and dropoff_base_region_id
merged_result6=merged_result5.merge(traffic, left_on=['end_timestamp_id', 'dropoff_base_region_id'],right_on=['timestamp_id', 'region_id'], how="left")

merged_result6.rename(columns={"speed":"speed_dropoff_end", "speed_category":"speed_category_dropoff_end","bus_count":"bus_count_dropoff_end", "gps_pings":"gps_pings_dropoff_end"}, inplace=True)

merged_result6=merged_result6.iloc[:,np.r_[0:41,44:48]] #delete unwanted columns

In [62]:
merged_result6.head()

,Unnamed: 0_x,trip_id,ride_type_id,start_timestamp_id,end_timestamp_id,duration_seconds,miles,fare,tip,tolls,...,bus_count_dropoff_start,gps_pings_dropoff_start,speed_pickup_end,speed_category_pickup_end,bus_count_pickup_end,gps_pings_pickup_end,speed_dropoff_end,speed_category_dropoff_end,bus_count_dropoff_end,gps_pings_dropoff_end
0,2,7113a69d5171ece9c16cf74fde72e0059b1299f7,1,2019-05-03 13:00:00,2019-05-03 13:00:00,266.0,0.78,5.5,0.0,0.0,...,293.0,4960.0,19.090000,medium,293.0,4960.0,19.090000,medium,293.0,4960.0
1,3,1dbf5c8053c07ba46a7b57bd0413f7527bd603f8,1,2019-01-23 11:00:00,2019-01-23 11:00:00,584.0,1.19,7.5,1.0,0.0,...,180.0,1947.0,17.531667,medium,479.0,8777.0,23.035000,regular,180.0,1947.0
2,4,32b6e83006192bff8c8acd46a05889d9efe7ceaa,1,2019-02-10 21:00:00,2019-02-10 22:00:00,2510.0,18.10,45.5,0.0,0.0,...,236.0,4498.0,28.638333,regular,80.0,1692.0,21.080000,regular,211.0,3856.0
3,5,54d4c379f1f16261cd5ab4dc3e36839dfe10a42a,1,2019-07-23 18:00:00,2019-07-23 19:00:00,780.0,0.00,8.5,0.0,0.0,...,533.0,3944.0,18.780000,medium,310.0,3006.0,18.780000,medium,310.0,3006.0
4,6,c0efecb973aef28a5aa89e85001d235005c7509d,1,2019-02-14 18:00:00,2019-02-14 18:00:00,585.0,1.87,8.5,0.0,0.0,...,598.0,8986.0,12.611667,medium,985.0,17609.0,14.886667,medium,598.0,8986.0

### Now merge with clean region data

In [71]:
#join with pickup_base_region_id
merged_result7=merged_result6.merge(clean_region, left_on="pickup_base_region_id", right_on="region_id", how="left")
merged_result7.rename(columns={"region":"region_pickup","lat_centroid":"lat_centroid_pickup","long_centroid":"long_centroid_pickup"},inplace=True)
merged_result7=merged_result7.iloc[:,np.r_[0:45,46:49]] #delete unwanted columns

In [72]:
merged_result7.head()

,Unnamed: 0_x,trip_id,ride_type_id,start_timestamp_id,end_timestamp_id,duration_seconds,miles,fare,tip,tolls,...,speed_category_pickup_end,bus_count_pickup_end,gps_pings_pickup_end,speed_dropoff_end,speed_category_dropoff_end,bus_count_dropoff_end,gps_pings_dropoff_end,region_pickup,lat_centroid_pickup,long_centroid_pickup
0,2,7113a69d5171ece9c16cf74fde72e0059b1299f7,1,2019-05-03 13:00:00,2019-05-03 13:00:00,266.0,0.78,5.5,0.0,0.0,...,medium,293.0,4960.0,19.090000,medium,293.0,4960.0,Near North,-87.635144,41.900130
1,3,1dbf5c8053c07ba46a7b57bd0413f7527bd603f8,1,2019-01-23 11:00:00,2019-01-23 11:00:00,584.0,1.19,7.5,1.0,0.0,...,medium,479.0,8777.0,23.035000,regular,180.0,1947.0,Chicago Loop,-87.635144,41.877494
2,4,32b6e83006192bff8c8acd46a05889d9efe7ceaa,1,2019-02-10 21:00:00,2019-02-10 22:00:00,2510.0,18.10,45.5,0.0,0.0,...,regular,80.0,1692.0,21.080000,regular,211.0,3856.0,Far North West,-87.796833,41.989884
3,5,54d4c379f1f16261cd5ab4dc3e36839dfe10a42a,1,2019-07-23 18:00:00,2019-07-23 19:00:00,780.0,0.00,8.5,0.0,0.0,...,medium,310.0,3006.0,18.780000,medium,310.0,3006.0,Near North,-87.635144,41.900130
4,6,c0efecb973aef28a5aa89e85001d235005c7509d,1,2019-02-14 18:00:00,2019-02-14 18:00:00,585.0,1.87,8.5,0.0,0.0,...,medium,985.0,17609.0,14.886667,medium,598.0,8986.0,Chicago Loop,-87.635144,41.877494

In [77]:
#join with dropoff_base_region_id
merged_result_final=merged_result7.merge(clean_region, left_on="dropoff_base_region_id", right_on="region_id", how="left")
merged_result_final.rename(columns={"region":"region_dropoff","lat_centroid":"lat_centroid_dropoff","long_centroid":"long_centroid_dropoff"},inplace=True)

merged_result_final=merged_result_final.iloc[:,np.r_[0:48,49:52]] #delete unwanted columns

In [78]:
merged_result_final.head()

,Unnamed: 0_x,trip_id,ride_type_id,start_timestamp_id,end_timestamp_id,duration_seconds,miles,fare,tip,tolls,...,speed_dropoff_end,speed_category_dropoff_end,bus_count_dropoff_end,gps_pings_dropoff_end,region_pickup,lat_centroid_pickup,long_centroid_pickup,region_dropoff,lat_centroid_dropoff,long_centroid_dropoff
0,2,7113a69d5171ece9c16cf74fde72e0059b1299f7,1,2019-05-03 13:00:00,2019-05-03 13:00:00,266.0,0.78,5.5,0.0,0.0,...,19.090000,medium,293.0,4960.0,Near North,-87.635144,41.900130,Near North,-87.635144,41.900130
1,3,1dbf5c8053c07ba46a7b57bd0413f7527bd603f8,1,2019-01-23 11:00:00,2019-01-23 11:00:00,584.0,1.19,7.5,1.0,0.0,...,23.035000,regular,180.0,1947.0,Chicago Loop,-87.635144,41.877494,Downtown Lakefront,-87.609229,41.888765
2,4,32b6e83006192bff8c8acd46a05889d9efe7ceaa,1,2019-02-10 21:00:00,2019-02-10 22:00:00,2510.0,18.10,45.5,0.0,0.0,...,21.080000,regular,211.0,3856.0,Far North West,-87.796833,41.989884,Chicago Loop,-87.635144,41.877494
3,5,54d4c379f1f16261cd5ab4dc3e36839dfe10a42a,1,2019-07-23 18:00:00,2019-07-23 19:00:00,780.0,0.00,8.5,0.0,0.0,...,18.780000,medium,310.0,3006.0,Near North,-87.635144,41.900130,Near North,-87.635144,41.900130
4,6,c0efecb973aef28a5aa89e85001d235005c7509d,1,2019-02-14 18:00:00,2019-02-14 18:00:00,585.0,1.87,8.5,0.0,0.0,...,14.886667,medium,598.0,8986.0,Chicago Loop,-87.635144,41.877494,Near North,-87.635144,41.900130

### Export file to csv

In [79]:
merged_result_final.to_csv("merged_file.csv")