In [1]:
import pandas as pd
project_data=pd.read_csv("project_data.csv")

In [3]:
project_data.head()

,Unnamed: 0,ride_type_id,duration_seconds,miles,fare,tip,tolls,extra_charges,trip_total,payment_type,...,speed_dropoff_end,speed_category_dropoff_end,bus_count_dropoff_end,gps_pings_dropoff_end,region_pickup,lat_centroid_pickup,long_centroid_pickup,region_dropoff,lat_centroid_dropoff,long_centroid_dropoff
0,0,1,266.0,0.78,5.5,0.0,0.0,0.0,5.5,Cash,...,19.090000,medium,293.0,4960.0,Near North,-87.635144,41.900130,Near North,-87.635144,41.900130
1,1,1,584.0,1.19,7.5,1.0,0.0,1.0,10.0,Credit Card,...,23.035000,regular,180.0,1947.0,Chicago Loop,-87.635144,41.877494,Downtown Lakefront,-87.609229,41.888765
2,2,1,2510.0,18.10,45.5,0.0,0.0,4.0,49.5,Cash,...,21.080000,regular,211.0,3856.0,Far North West,-87.796833,41.989884,Chicago Loop,-87.635144,41.877494
3,3,1,780.0,0.00,8.5,0.0,0.0,0.0,8.5,Cash,...,18.780000,medium,310.0,3006.0,Near North,-87.635144,41.900130,Near North,-87.635144,41.900130
4,4,1,585.0,1.87,8.5,0.0,0.0,0.0,8.5,Cash,...,14.886667,medium,598.0,8986.0,Chicago Loop,-87.635144,41.877494,Near North,-87.635144,41.900130

### Select distinct combinations of pickup and dropoff locations

In [13]:
#First create a region with all pickup and dropoff locations

regions = project_data.loc[:,['region_pickup','long_centroid_pickup','lat_centroid_pickup']]
regions.head()

    region_pickup  long_centroid_pickup  lat_centroid_pickup
0      Near North             41.900130           -87.635144
1    Chicago Loop             41.877494           -87.635144
2  Far North West             41.989884           -87.796833
3      Near North             41.900130           -87.635144
4    Chicago Loop             41.877494           -87.635144

In [27]:
# Change column names
regions=regions.rename(columns={'region_pickup': 'region', 'long_centroid_pickup': 'latitude',"lat_centroid_pickup":"longtitude"})

In [16]:
regions_dropoff=project_data.loc[:,['region_dropoff','long_centroid_dropoff','lat_centroid_dropoff']]

In [26]:
regions_dropoff=regions_dropoff.rename(columns={'region_dropoff': 'region', 'long_centroid_dropoff': 'latitude',"lat_centroid_dropoff":"longtitude"})

In [31]:
region_data=regions.append(regions_dropoff)

In [32]:
region_data.head()

           region   latitude  longtitude
0      Near North  41.900130  -87.635144
1    Chicago Loop  41.877494  -87.635144
2  Far North West  41.989884  -87.796833
3      Near North  41.900130  -87.635144
4    Chicago Loop  41.877494  -87.635144

In [37]:
# Now let us select distinct rows
region_data=region_data.drop_duplicates()

In [40]:
#Import dataset
region_data.to_csv("region_data.csv")

### Match regions in tableu
### ...

### Now let us change region names

In [54]:
cleaned_data=pd.read_csv("cleaned_data.csv")
cleaned_data.head()

,Unnamed: 0,duration_seconds,miles,fare,tip,tolls,extra_charges,trip_total,payment_type,start_month,...,bus_count_dropoff_end,gps_pings_dropoff_end,region_pickup,region_dropoff,tip_flag,ride_type,flag_overnight,total_no_tip,start_hour,flag_weekend
0,0,266.0,0.78,5.5,0.0,0.0,0.0,5.5,Cash,5,...,293.0,4960.0,Near North,Near North,0,Taxi,0,5.5,13,0
1,1,584.0,1.19,7.5,1.0,0.0,1.0,10.0,Card,1,...,180.0,1947.0,Chicago Loop,Downtown Lakefront,1,Taxi,0,9.0,11,0
2,2,2510.0,18.10,45.5,0.0,0.0,4.0,49.5,Cash,2,...,211.0,3856.0,Far North West,Chicago Loop,0,Taxi,0,49.5,21,1
3,3,780.0,0.00,8.5,0.0,0.0,0.0,8.5,Cash,7,...,310.0,3006.0,Near North,Near North,0,Taxi,0,8.5,18,0
4,4,585.0,1.87,8.5,0.0,0.0,0.0,8.5,Cash,2,...,598.0,8986.0,Chicago Loop,Near North,0,Taxi,0,8.5,18,0

In [55]:
# Replace downtown data
cleaned_data.replace(
    to_replace=['Downtown Lakefront', 'Near North',"Chicago Loop","West Town-Near West"],
    value='Downtown',
    inplace=True
)

In [45]:
cleaned_data.head()

,Unnamed: 0,duration_seconds,miles,fare,tip,tolls,extra_charges,trip_total,payment_type,start_month,...,bus_count_dropoff_end,gps_pings_dropoff_end,region_pickup,region_dropoff,tip_flag,ride_type,flag_overnight,total_no_tip,start_hour,flag_weekend
0,0,266.0,0.78,5.5,0.0,0.0,0.0,5.5,Cash,5,...,293.0,4960.0,Downtown,Downtown,0,Taxi,0,5.5,13,0
1,1,584.0,1.19,7.5,1.0,0.0,1.0,10.0,Card,1,...,180.0,1947.0,Downtown,Downtown,1,Taxi,0,9.0,11,0
2,2,2510.0,18.10,45.5,0.0,0.0,4.0,49.5,Cash,2,...,211.0,3856.0,Far North West,Downtown,0,Taxi,0,49.5,21,1
3,3,780.0,0.00,8.5,0.0,0.0,0.0,8.5,Cash,7,...,310.0,3006.0,Downtown,Downtown,0,Taxi,0,8.5,18,0
4,4,585.0,1.87,8.5,0.0,0.0,0.0,8.5,Cash,2,...,598.0,8986.0,Downtown,Downtown,0,Taxi,0,8.5,18,0

In [56]:
#Replace south data
cleaned_data.replace(
    to_replace=['Lincoln Park-Lake View', 
                'Hermosa-Logan Square',
                "Dunning-Portage-Belmont Cragn",
                "North Park-Albany-Linconl Sq",
                "Rogers Park - West Ridge",
               "Far North West",
               "Edge Water-Uptown",
               "Irving Park-Avondale-North Ctr"],
    value='North',
    inplace=True
)

In [57]:
#Replace west data
cleaned_data.replace(
    to_replace=['Austin', 'Humboldt-Garfield Prk E/W',"Lawndale N/S","Bridgeport-McKinley-Lower West"],
    value='West',
    inplace=True
)

In [58]:
#Replace south data
cleaned_data.replace(
    to_replace=['Near South-Douglas', 
                'Midway-Garfield Rdg-Clearing',
                "Fuller-Grand Blvd-Washington Park",
                "New City-Englewood-W Englewood",
                "Hyde Park-Kenwood-Woodlawn",
               "South West Side",
               "Ashburn",
               "Auburn Gresham-Chatham",
               "South Shore-S Chicago-Avlon",
               "South Deering-East Side",
               "Beverly-Mt Greenwood-Morgan Park",
               "Washington Hts-Roseland-Pullman",
               "Riverdale-Hegewisch"],
    value='South',
    inplace=True
)

In [52]:
cleaned_data.head()

,Unnamed: 0,duration_seconds,miles,fare,tip,tolls,extra_charges,trip_total,payment_type,start_month,...,bus_count_dropoff_end,gps_pings_dropoff_end,region_pickup,region_dropoff,tip_flag,ride_type,flag_overnight,total_no_tip,start_hour,flag_weekend
0,0,266.0,0.78,5.5,0.0,0.0,0.0,5.5,Cash,5,...,293.0,4960.0,Downtown,Downtown,0,Taxi,0,5.5,13,0
1,1,584.0,1.19,7.5,1.0,0.0,1.0,10.0,Card,1,...,180.0,1947.0,Downtown,Downtown,1,Taxi,0,9.0,11,0
2,2,2510.0,18.10,45.5,0.0,0.0,4.0,49.5,Cash,2,...,211.0,3856.0,North,Downtown,0,Taxi,0,49.5,21,1
3,3,780.0,0.00,8.5,0.0,0.0,0.0,8.5,Cash,7,...,310.0,3006.0,Downtown,Downtown,0,Taxi,0,8.5,18,0
4,4,585.0,1.87,8.5,0.0,0.0,0.0,8.5,Cash,2,...,598.0,8986.0,Downtown,Downtown,0,Taxi,0,8.5,18,0

In [59]:
#Check if the region is indeed clean
cleaned_data.region_pickup.unique()

array(['Downtown', 'North', 'South', 'West'], dtype=object)

In [60]:
cleaned_data.region_dropoff.unique()

array(['Downtown', 'North', 'South', 'West'], dtype=object)

In [61]:
#Export the data
cleaned_data.to_csv("region_cleaned_data.csv")